<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seojs.ptmanager.domain.admin.AdminMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into admin (login_id, password)
        values (#{loginId}, #{password})
    </insert>

    <select id="findById" resultType="Admin">
        select *
        from admin
        where id = #{id}
    </select>

   <select id="findAll" resultType="Admin">
       select *
       from admin
   </select>

</mapper>