<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seojs.ptmanager.mapper.MemberTicketMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.seojs.ptmanager.domain.memberticket.MemberTicket">
        insert into memberticket (member_id, ticket_id)
        values (#{memberId}, #{ticketId})
    </insert>

    <select id="findByMemberId" resultType="MemberTicket">
        select *
        from memberticket
        where member_id = #{memberId}
    </select>
</mapper>